@import "/src/index.css";

.app__projects {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #FAFAFF;
}

.projects__center {
    width: 1400px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    padding: 2rem 1rem;
}

.projects__head {
    width: 600px;
    max-width: 100%;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #FFF;
    box-shadow: 0px 3px 12px rgba(6, 10, 45, 0.06);
    border-radius: 4px;
}

.projects__head h3 {
    font-family: var(--mulish);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #8D8BAC;
    text-align: center;
}

.projects__head p {
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #3B3951;
}

.projects__head p span {
    color: #E45817;
}

.projects__e, .projects__i {
    width: 1200px;
    max-width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.projects__e h2, .projects__i h2 {
    font-family: var(--mulish);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #292839;
}

.e__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 2rem;
}

.e__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
    background-color: #FAFAFF;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.e__img {
    width: 100%;
    height: 260px;
    position: relative;
    background-color: #3B3951;
    border-radius: 4px;
}

.e__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.e__details {
    width: 100%;
    padding: 0.8rem 1rem 1rem 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
}

.e__details h4 {
    font-family: var(--mulish);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    transition: color 0.2s ease;
    color: #292839;
}

.e__details p {
    font-family: var(--quicksand);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    transition: color 0.2s ease;
    color: #3B3951;
}

.e__details a {
    font-family: var(--quicksand);
    font-size: 16px;
    font-weight: 400;
    color: #3B3951;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: color 0.2s ease;
}

.e__details a:hover {
    color: #292839;
}

.e__details a ion-icon {
    font-size: 18px;
}

.e__box:hover {
    background-color: #E45817;
    box-shadow: 0 0 4px 2px #E45817;
}

.e__box:hover .e__img {
    background: linear-gradient(#ea8f45, #f25e0f);
    border-radius: 6px 6px 0 0;
}

.e__box:hover .e__details h4, .e__box:hover .e__details p, .e__box:hover .e__details a  {
    color: #fff;
}

.e__box:hover .e__details a {
    text-decoration: underline;
}

.i__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.i__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
    background-color: #FAFAFF;
}

.i__img {
    width: 32%;
    background-color: #7BD87F;
    border-radius: 6px;
    flex: 0 0 auto;
}

.i__img img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.i__details {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.i__details h4 {
    font-family: var(--mulish);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #292839;
}

.i__details p {
    font-family: var(--quicksand);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #3B3951;
}

@media all and (max-width : 1040px) {
    .e__content {
        gap: 2rem;
    }

    .e__details {
        padding: 0.6rem;
    }
}

@media all and (max-width : 900px) {
    .e__content {
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
    }
    
    .e__details {
        padding: 0.8rem;
    }
}

@media all and (max-width : 700px) {
    .i__box {
        display: flex;
        flex-direction: column;
    }

    .i__details {
        width: 100%;
    }

    .i__img {
        width: 100%;
    }
}

@media all and (max-width : 710px) {
    .e__content {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .e__img {
        height: 100%;
    }
}

@media all and (max-width : 600px){
    .projects__head p {
        font-size: 24px;
        line-height: 36px;
    }

    .e__box {
        gap: 0.4rem;
    }

    .i__box {
        gap: 0.8rem;
    }
}

@media all and (max-width : 400px) {

    .projects__center {
        padding: 2rem 0.6rem;
    }

    .e__details p {
        font-size: 15px;
    }
}