@import "/src/index.css";

.app__footer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 2rem 0 0;
    background-color: #292839;
}

.footer__center {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.footer__side1, .footer__rside {
    width: 270px;
    flex: 0 0 auto;
}

.footer__side1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.6rem;
}

.footer__side1 img {
    width: 80px;
    object-fit: contain;
}

.footer__side1 p {
    width: 100%;
    font-family: var(--quicksand);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__side1 .side1__links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__side1 a ion-icon {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    transition: color 0.3s ease-in;
}

.footer__side1 a ion-icon:hover {
    color: #FFFFFF;
}

.footer__rside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.footer__rside li:nth-child(1) {
    margin-bottom: 1rem;
    font-family: var(--mulish);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__rside li a {
    font-family: var(--quicksand);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer__rside li a:hover {
    color: #FFFFFF;
}

.copyright__base {
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #23222F;
}

.copyright__base p {
    text-align: center;
    font-family: var(--quicksand);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width : 1240px) {
    .footer__side1, .footer__rside {
        width: 260px;
    }
}

@media all and (max-width : 1200px) {
    .footer__side1, .footer__rside {
        width: 240px;
    }
}

@media all and (max-width : 1120px) {
    .footer__side1, .footer__rside {
        width: 220px;
    }
}

@media all and (max-width : 1040px) {
    .footer__center {
        flex-wrap: wrap;
        row-gap: 4rem;
    }

    .footer__rside {
        align-items: flex-start;
    }
}

@media all and (max-width : 600px) {
    .footer__side1, .footer__rside {
        width: 100%;
    }
}

@media all and (max-width : 500px) {
    .footer__center {
        padding: 2rem 1.6rem 3rem;
    }
}

@media all and (max-width : 400px) {
    .footer__center {
        padding: 1rem 1rem 2rem;
    }

    .footer__rside, .footer__side1 {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .footer__side1 p {
        text-align: center;
    }
}