@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Quicksand&display=swap');

:root {
    --quicksand : 'Quicksand', sans-serif;
    --mulish : 'Mulish', sans-serif;
    --poppins : 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}